html {
    width: 100%;
    height: 100%;
    background-color: #282c34;
}
.mainBlock {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 100px auto;
    flex-direction: row;
    align-items: center;
}
.display {
    border: 3px solid deepskyblue;
    height: 250px;
    width: 350px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color:  #282c34;
    border-radius: 20px;
    width: 100%;
    height: 70%;
    border: 3px solid deepskyblue;

    font-weight: 600;
}
.count {
    color: red;
    font-weight: 600;
    font-size: 18px;
}
.buttonsContainer {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.button {
    height: 45%;
    width: 20%;
    border-radius: 10px;
    background-color: #282c34;
    color: deepskyblue;
    border: 3px solid deepskyblue;
    font-size: 18px;
    font-weight: 600;
}
.button:active {
    background-color: deepskyblue;
    color: #282c34;
}
.red {
    background-color: red;
    opacity: 0.5;
    border: 2px solid red;
}
.disabled {
    opacity: 0.5;
    height: 45%;
    width: 20%;
    border-radius: 10px;
    color: deepskyblue;
    border: 3px solid deepskyblue;
    font-size: 14px;
    font-weight: 600;
}
.inputBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: deepskyblue;
    font-weight: 400;
    font-size: 12px;
}
